@inherits LayoutComponentBase

<div class="page">
    <!--<div class="sidebar">
        <NavMenu />
    </div>-->

    <main>
        <!-- About button at the top of the page-->
        <!--<div class="top-row px-4">
            <a href="/Admin">Admin</a>
        </div>-->
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
